PUID=1000
GUID=1000

CORAZA_PORT=9090
WAF_LISTEN_PORT=9090
WAF_CONFIG_FILE=conf/config.json

MYSQL_PORT=13306
MYSQL_DATABASE=mamotama
MYSQL_USER=mamotama
MYSQL_PASSWORD=mamotama
MYSQL_ROOT_PASSWORD=mamotama-root
MYSQL_TZ=UTC
